@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    color: #6c6c5c;
}

/* headings and logo */

h1 {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: xx-large;
}

h2 {
    font-family: 'Inconsolata', sans-serif;
}


.header {
    position: relative;
    margin: 0;
    padding: 0;
}

.top {
    height: 20%;
}

.logo {
    height: 100%;
    display: inline;
}

.nav {
    clear: both;
    float: right;
    margin-top: 120px;
    margin-right: 50px;
    font-size: 130%;
    letter-spacing: 1px;
}

.menu {
    display: inline;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #6c6c5c;
}
/* hero image */

#hero-image {
    height: 600px;
    width: auto;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

/* hero animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-description {
    height: 100%;
}

#what-we-do-left {
    width: 500px;
    height: 100%;
    float: left;
    margin: 60px 50px;
}

#clients-right {
    width: 500px;
    height: 100%;
    float: right;
    margin: 60px 50px;
}

#about-us-bottom {
    position: relative;
    height: 100%;
    float: left;
    margin: 10px 50px;
}

.column {
    float: left;
    height: 30px;
    width: 25%;
    text-align: center;
    line-height: 150px;
    font-weight: bold;
    font-size: 130%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* form styling */
#fullname {
    border: 1px solid #c06c3a;
    border-radius: 5%;
}

#email {
    border: 1px solid #c06c3a;
    border-radius: 5%;
}

#phone {
    border: 1px solid #c06c3a;
    border-radius: 5%;
}

#form {
    margin-left: 33%;
    margin-top: 200px;
}

::placeholder {
    color: gray;
    opacity: .4;
}

h1 {
    text-align: center;
}

/* gallery styling */
#photos {
    column-count: 3;
    column-gap: 0;
    line-height: 0;
    clear: both;
}

#gallery-title {
    margin: 50px 50px;
    width: 100%;
}

#photos>img {
    width: 100%;
}