@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    color: #6c6c5c;
}

/* headings and logo */

h1 {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Inconsolata', sans-serif;
}

/* menu tabs */

header {
    height: 150px;
    width: 100%;
    padding: 0;
}

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #6c6c5c;
}


#menu li {
    float: right;
    margin-right: 30px;
    margin-bottom: 5px;
    list-style-type: none;
}

/* hero image */

#hero-image {
    height: 600px;
    width: auto;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* hero animation */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.0);
    }
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 150%;
    padding: 5%;
    margin: 1%;
    color: #6c6c5c;
}

#fullname {
    border: 1px solid #c06c3a;
    border-radius: 5%;
}